body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

.food-section-1 {
    padding-bottom: 100px;
}

.food-section-1 .half-part h1 {
    font-size: 55px;
    color: #4e4e4e;
    font-weight: 900;
}

.food-section-1 .half-part p {
    font-size: 20px;
    color: #929090;
}

.violet {
    color: #eb8deb;
}

.flexible-area {
    display: flex;
}

.half-part {
    width: 50%;
    padding-left: 10%;
}

.half-part img {
    width: 85%;
}

.linked_button {
    text-decoration: none;
    background-image: linear-gradient(pink, violet);
    padding: 15px 40px;
    border-radius: 50px;
    font-weight: 700;
    color: white;
}



.food-section-2 .half-part img {
    padding-top: 80px;
    width: 75%;
}

.food-section-2 .about_me {
    padding-right: 10%;
    padding-top: 12%;
}

.food-section-2 .about_me h1 {
    font-size: 40px;
    color: #686868;
    font-weight: 700;
}

.food-section-2 .about_me p {
    font-size: 20px;
    color: #3d3d3d;
}

.banner {
    background-image: url(images/Frame\ 59.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.food-recipies{
    padding-top: 50px;
}

.food-recipies h1{
    text-align: center;
    color: #696969;
    font-size: 30px;
}

.recipe-para{
    text-align: center;
    color: #3d3d3d;
    font-size: 17px;
}

.items-part{
    padding: 10px 60px;
}


.food-items img{
    width: 100%;
    border-radius: 20px;
}

.food-items{
    padding: 20px;
    padding-left: 20px;
    box-shadow: 10px 10px  35px #3d3d3d56;
    width: 50%;
    margin:10px 30px;
    border-radius: 25px;
}

.food-items h2{
    font-size: 25px;
    font-weight: 800;
}

.optional-part{
    padding-top: 100px;
    padding-left: 55px;
    padding-right: 55px;
}

.optional-items{
    padding: 0px 80px;
    box-shadow: 12px 12px 45px #3d3d3d56;
    margin:50px 30px;
    border-radius: 35px;
}

.optional-counter{
    margin-left: 145px;
}

.optional-counter h1{
    font-size: 50px;
}

.optional-counter p{
    font-size: 15px;
}

